*{
    margin:0;
    padding:0;
}

body{
    background: rgb(255,33,33);
    background: linear-gradient(180deg, rgba(255,33,33,1) 0%, rgba(255,26,26,1) 36%, rgba(255,154,0,1) 100%);
    background-attachment: fixed;
}

.options{
    text-align: center;
}

.options h2{
    padding-top: 20px;
    font-size: 60px;
    color:white;
}

li{
    margin-top: 100px;
    display: inline-block;
    padding-bottom: 2%;
}

a{
    color:white;
    padding:50px;
    margin: 50px;
    text-decoration: none;
    background-color: rgba(25, 43, 67, 0.3);
    border: 5px solid black;
    border-radius: 10px;
    font-size: 30px;
}
a:hover{
    background-color: rgba(0, 0, 0, 0.4);
}